<?xml version="1.0" encoding="UTF-8"?>
<chimboland>
	<org>
		<config>
			<ipwan>localhost</ipwan>
			<port>5000</port>
			<domain-permitted>*.localhost</domain-permitted>
			<path>/</path>
			<thread>3</thread>
			
			<mysql>
				<host>localhost</host>
				<user>root</user>
				<password></password>
				<database>chimboland</database>
			</mysql>
			<chat>
				<rooms>
					<room>chimbo_gate</room>
					<room>bacteria_debutants</room>
					<room>bacteria_pros</room>
					<room>chimbo_wedding</room>
					<room>martin.center_entry</room>
					<room>gate_to_deb</room>
					<room>gate_to_pro</room>
					<room>gate_to_wedding</room>
					<room>gate_to_swamps</room>
					<room>gate_to_divorce</room>
					<room>gate_to_patojdur</room>
					<room>patojdur</room>
					<room>gate_to_kopakabana</room>
					<room>kopakabana</room>
					<room>kopakibini</room>
					<room>blueforest.to_ballades</room>
					<room>blueforest.ballade2</room>
					<room>blueforest.ballade1</room>
					<room>blueforest.pv</room>
					<room>wedding_private</room>
					<room>underground.kchokoridor</room>
					<room>underground.kchoa</room>
					<room>underground.kchob</room>
					<room>underground.kchoc</room>
					<room>underground.kchod</room>
					<room>underground.kchosalon</room>
					<room>underground.divorce</room>
					<room>jungle.gate_to_divorce</room>
					<room>jungle.divorce</room>
					<room>submarine</room>
					<room>tajturtle.home</room>
					<room>tajturtle.gardens_entry</room>
					<room>haulimp</room>
					<room>paintmap</room>
					<room>blueforest.race</room>
					<room>zonez</room>
					<room>zonez2</room>
					<room>scene_08</room>
					<room>mountain.accueil</room>
					<room>mountain.accueil_mineg</room>
					<room>mountain.accueil_patoj</room>
					<room>mountain.bac_expert</room>
					<room>mountain.cabri</room>
					<room>mountain.cabri_dedal</room>
					<room>mountain.cabri_market</room>
					<room>mountain.chample_dedal</room>
					<room>mountain.champleton</room>
					<room>mountain.teleferik</room>
					<room>mountain.to_aeroz_08</room>
					<room>mountain.to_birdiz_08</room>
					<room>mountain.to_blastoidz_08</room>
					<room>mountain.to_blobipop_08</room>
					<room>mountain.to_bombaz_08</room>
					<room>mountain.to_clacbrik_08</room>
					<room>mountain.to_expo</room>
					<room>mountain.to_factoriz_08</room>
					<room>mountain.to_gogobac_08</room>
					<room>mountain.to_jardinoo_08</room>
					<room>mountain.to_jellyfiz_08</room>
					<room>mountain.to_kandiz_08</room>
					<room>mountain.to_mafiaz_08</room>
					<room>mountain.to_memoz_08</room>
					<room>mountain.to_minegame</room>
					<room>mountain.to_spookiz_08</room>
					<room>mountain.to_taj</room>
					<room>mountain.to_tikiz_08</room>
					<room>mountain.waterf</room>
					<room>mountain.waterf_tel</room>
					<room>mountain.wedding</room>
				</rooms>
				<pets>
					<pet>0P7</pet>
					<pet>0P0</pet>
					<pet>0P10</pet>
					<pet>0P3</pet>
					<pet>0P8</pet>
					<pet>0P6</pet>
					<pet>0P2</pet>
					<pet>0P11</pet>
					<pet>1P1</pet>
					<pet>1P2</pet>
					<pet>1P3</pet>
				</pets>
			</chat>
		</config>
	</org>
</chimboland>